.spot-images-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 520px;
  gap: 0.5rem;
}

.reserve {
  background-color: #d70f5f;
  color: white;
  width: 100%;
  border: none;
  height: 45px;
  border-radius: 10px;
}

.preview-true {
  width: 50%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
}

.spot-images-container.\31  .preview-true{
  width: 100%;
  border-radius: 15px;
}

.spot-images-container.\32  .preview-false{
  width: 49%;
}

.preview-false {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
}

.preview-false img {
  object-fit: cover;
}

.preview-false.\31  img {
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.preview-false.\32  img:nth-child(1){
  width: 99%;
  height: 49%;
  border-top-right-radius: 15px;
}

.preview-false.\32  img:nth-child(2) {
  width: 99%;
  height: 49%;
  border-bottom-right-radius: 15px;
}

.preview-false.\33  img:nth-child(1){
  width: 49%;
}

.preview-false.\33  img:nth-child(2) {
  width: 49%;
  border-top-right-radius: 15px;
}

.preview-false.\33  img:nth-child(3) {
  width: 99%;
  height: 49%;
  border-bottom-right-radius: 15px;
}

.preview-false.\34  img {
  width: 49%;
  height: 49%;
}

.preview-false.\34  img:nth-child(2) {
  border-top-right-radius: 15px;
}

.preview-false.\34  img:nth-child(4) {
  border-bottom-right-radius: 15px;
}

.spot-details-container {
  margin-left: 2%;
  margin-right: 2%;
}

.info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-left: 8%;
}

.spot-details-description {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.spot-details-content {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  width: 80vw;
  justify-content: center;
  margin-left: 8%;
}

.form-price-per-night {
  display: flex;
  gap: .25rem;
  align-items: flex-end;
}

.form-price {
  font-size: 22px;
  color: #222222;
  font-weight: 600;
}

.form-night {
  padding-bottom: 2px;
  color: #222222;
  font-weight: lighter;

}

.reserve-date-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 25%;
  gap: 1rem;
  padding: 24px;
  box-shadow: 3px 2px 14px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.reserve-form-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reserve-info-calc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  align-items: center;
}

.reserve-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: center;
}

.reserve-info-calc div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.total-price {
  padding-top: 1.5rem;
  border-top: 1px solid lightgray;
  font-weight:600;
  font-size: 20px;
}

.errors-list li{
  list-style: none;
  color: #d70f5f;
}

.banner {
  position: fixed;
  bottom: 5%;
  right: 1%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.banner.success {
  background-color: rgb(34, 129, 34);
  color: white;
}

.banner.error {
  background-color: #d70f5f;
  color: white;
}

.spot-details-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-inputs {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 100%;
}

.checkin-input, .checkout-input {
  display: flex;
  flex-direction: column;
  padding: 20px 12px 10px;
  flex: 1;
}

.checkin-input label, .checkout-input label {
  font-size: xx-small;
  font-weight: bold;
}

.checkout-input {
  border-left: 1px solid lightgray;
}

.date-inputs input {
  border: none;
}


@media (width < 1580px) {
  .preview-false {
    display: none;
  }
  .preview-true {
    width: 100%;
    border-radius: 15px;
  }
}

.spot-details-description img {
  height: 14px;
}

.review-rating img {
  height: 14px;
}

.review-rating {
  display: flex;
  align-items: center;
  gap: .25rem;
}
