.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px 24px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 80px;
}

@media (width < 601px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width >= 601px) and (width < 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 900px) and (width < 1125px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width >= 1125px) and (width < 1640px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width >= 1640px) and (width < 1881px) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }

}
