.host {
    background-color: white;
    border: none;
    cursor: pointer;
    height: 40px;
    padding: .5rem;
    border-radius: 1rem;
    text-decoration: none;
}

.host:hover {
    background-color: rgb(244, 242, 242);
}

.edit-listing {
    border: 1px solid lightgrey;
    border-radius: .5rem;
    background-color: white;
    width: 50%;
    cursor: pointer;
}

.edit-listing:hover {
    background-color: rgb(104, 115, 202);
    color: white;
    cursor: pointer;
}

.add-listing {
    border: 1px solid lightgrey;
    border-radius: .5rem;
    background-color: white;
    width: 80%;
    height: 100%;
    cursor: pointer;
}
