.card {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 115%;
}

.img-container {
  height: 80%;
}

.card-img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 5px 0px 5px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating i {
  font-size: small;
  padding: 3px;
}

.thick {
  font-weight: 100;
}

.description,
.price {
  padding: 0px 5px 5px 5px;
}

.description {
  color: gray;
}
