.container {
  display: flex;
  flex-direction: column;
  width: 580px;
  gap: 20px;
  justify-content: space-between;
}

.divider {
  border: 1px solid lightgray;
  padding: 0;
  margin: 0;
}

.container input {
  height: 50px;
  border-radius: 10px;
  padding: 4px;
}

.header {
  display: flex;
  flex-direction: row;
}

.header h3 {
  flex-grow: 1;
  text-align: center;
}

.close-icon {
  width: 20px;
  cursor: pointer;
}

.edit {
  height: 50px;
  border-radius: 10px;
  background-color: #d70f5f;
  color: white;
  font-size: 20px;
  border: none;
  text-align: center;
}
