.owned-spot-img {
    height: 60px;
    width: 33%;
    padding: 0;
}

.owned-spot-img img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;

}

.checkbox-owned-spot {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 1rem;
}

.delete-icon {
    height: 35px;
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}

tr td:not(:first-child):not(:last-child) {
    width: 14%;
    text-align: center;
}

.delete-row {
    width: .1%;
    position: relative;
}
