.container {
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divider {
    border: 1px solid lightgray;
    padding: 0;
    margin: 0;
  }

  .no-trips p, .no-trips a {
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.no-trips a {
    display: flex;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
    color: inherit;
    max-width: 165px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.title {
    position: relative;
}

.delete-icon {
    position: absolute;
    right: 50px;
    top: -10px;
    cursor: pointer;
}

.delete-icon img {
    width: 90%;
}
